# <center> In-class assignment 2 </center>

**Task 1**. You need to analize the student;s performance in Exams. 
You can read the description here:
https://www.kaggle.com/spscientist/students-performance-in-exams

1.1 Read the data from your repository (```StudentsPerformance.csv```) using pandas library and save it as a DataFrame. <br>
1.2 Check the descriptive statistics. What subject has the greatest mean score (math, reading, or writing)?<br>
1.3 Check are there any missing values in a data set? In case if they persist, delete the rows with missing values.<br>
1.4 Filter the data to display only the students with bachelor's degree and math scores above the median.<br>
1.5. What are the ratios of females and males in this data set?<br>
1.6 Check if all the races/ethnicities are presented in this data set uniformly. Hint: you need to calculate the number of students for each race/ethnicity and check is there any imbalance.<br>

In [3]:
import pandas as pd

df = pd.read_csv ('StudentsPerformance.csv')
print (df)
df.mean().sort_values()

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

math score       66.089
writing score    68.054
reading score    69.169
dtype: float64

In [10]:
dict(df.isna().sum())

{'gender': 0,
 'race/ethnicity': 0,
 'parental level of education': 0,
 'lunch': 0,
 'test preparation course': 0,
 'math score': 0,
 'reading score': 0,
 'writing score': 0}

In [11]:
df.dropna()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
'df[(df['level_of_education'] == Â«bachlorâ€™sdegreeÂ») & (df[â€˜math scoreâ€™] > df [â€˜math scoreâ€™].median())]

SyntaxError: invalid character in identifier (<ipython-input-20-b5af223267b4>, line 1)

In [19]:
(df['gender'].value_counts()/df['gender'].count())*100

female    51.8
male      48.2
Name: gender, dtype: float64

**Task 2**. You should visit http://books.toscrape.com/catalogue/page-1.html. <br>
2.1. Write a function that parses and scraps one page and returns a list of dictionaries with the title and price of each book. <br>
2.2. Download the first 100 books with a progress bar from tqdm. <br>
2.3 Save it to DataFrame. <br>
2.4. Calculate the average price of these books. <br>